<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->
<!-- ====================================================
================= Application Content ===================
===================================================== -->
<div id="wrap" class="animsition" ng-controller="mainCtrl">
  <!-- ====================================================
  ================= CONTENT ===============================
  ===================================================== -->
  <!--Header Part-->
  <section id="content">
    <div class="page page-gallery">
      <div class="pageheader">
        <h2>Gallery <span>Advanced Filterable Photo Gallery</span></h2>
        <div class="page-bar">
          <ul class="page-breadcrumb">
            <li>
              <a href="index.html"><i class="fa fa-home"></i> Home</a>
            </li>
          </ul>
        </div>
      </div>
      <!--End Header Part-->

      <!--Main panel-->
      <div role="tabpanel">
        <!-- Image Controll Panel -->
        <!--Image Sub Folder List-->
        <ul class="mix-filter pull-right">
          <li class="filter" data-filter="all" id="filterRefresh">
            All
          </li>
          <li ng-repeat="subFolder in allSubfoldersWithImages" data-filter="{{subFolder.name}}" class="filter" ng-bind="subFolder.name"></li>
          <li data-filter=".archived" class="filter"><i class="fa fa-trash-o"></i> Archived</li>
        </ul>
        <!--End Image Sub Folder List-->

        <!--Image Filter Input-->
        <ul class="mix-controls">
          <li class="select-all" style="width:350px;">
            <div class="form-group">
              <div class="">
                <h4>Filter Images</h4>
                <input ng-model="imageFilterValue" ng-change="changeFilterValue()" type="number">
                <button class="filter" data-filter="{{dataforFilter}}">Filter</button>
              </div>
            </div>
          </li>
        </ul>
        <!--End Image Filter Input-->
        <!--End Image Controll Panel-->
        <!--Image Grid-->
        <ng-view></ng-view>
        <!--End Image Grid-->
      </div>
      <!--End Main Panel-->
    </div>
  </section>
  <!--/ CONTENT -->
</div>
<!--/ Application Content -->
