<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Filterable Image Gallery</title>
  <link rel="icon" type="image/ico" href="/images/favicon.ico" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- vendor css files -->
  <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="/css/vendor/animate.css">
  <link rel="stylesheet" href="/css/vendor/font-awesome.min.css">
  <link rel="stylesheet" href="/js/vendor/animsition/css/animsition.min.css">
  <link rel="stylesheet" href="/js/vendor/magnific-popup/magnific-popup.css">
  <link rel="stylesheet" type="text/css" href="/js/vendor/angularjs-slider/dist/rzslider.css"/>
  <!-- project main css files -->
  <link rel="stylesheet" href="/css/main.css">
  <!--mordernizr-->
  <script src="/js/vendor/modernizr/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  <!--/ modernizr -->
  <!-- customized style -->
  <style>
    #content{
      padding-top:0px;
    }
    .actionAreaforImage{
      padding-top:10px;
    }
  </style>
  <!--/ customized style -->
</head>

<body id="minovate" class="" ng-app="galleryApp">

    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->


    <!-- ============================================
  ============== Vendor JavaScripts ===============
  ============================================= -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="/js/vendor/bootstrap/bootstrap.min.js"></script>

    <script src="/js/vendor/jRespond/jRespond.min.js"></script>

    <script src="/js/vendor/sparkline/jquery.sparkline.min.js"></script>

    <script src="/js/vendor/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="/js/vendor/animsition/js/jquery.animsition.min.js"></script>

    <script src="/js/vendor/screenfull/screenfull.min.js"></script>
    <script src="/js/vendor/slider/bootstrap-slider.min.js"></script>

    <script src="/js/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/js/vendor/mixitup/jquery.mixitup.min.js"></script>
    <script src="/js/vendor/angular/angular.js"></script>
    <script src="/js/vendor/angularjs-slider/dist/rzslider.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="/js/gallery/ng-gallery-app.js"></script>

    <!--/ vendor javascripts -->
    <!-- ============================================
    ============== Custom JavaScripts ===============
    ============================================= -->
    <script src="/js/main.js"></script>
    <!--/ custom javascripts -->
    <!-- ===============================================
    ============== Page Specific Scripts ===============
    ================================================ -->
    <script>
      $(window).load(function(){
        $('#ex1').slider({
          formatter: function(value) {
            return 'Current value: ' + value;
          }
        });
        $("#ex1").on("slide", function(slideEvt) {
          $("#ex1SliderVal").text(slideEvt.value);
        });

        $("#ex2, #ex3, #ex4, #ex5").slider();

        $('.mix-grid').mixItUp();


        $('.mix-controls .select-all input').change(function(){
          if($(this).is(":checked")) {
            $('.gallery').find('.mix').addClass('selected');
            enableGalleryTools(true);
          } else {
            $('.gallery').find('.mix').removeClass('selected');
            enableGalleryTools(false);
          }
        });

        $('.mix .img-select').click(function(){
          var mix = $(this).parents('.mix');
          if(mix.hasClass('selected')) {
            mix.removeClass('selected');
            enableGalleryTools(false);
          } else {
            mix.addClass('selected');
            enableGalleryTools(true);
          }
        });

        var enableGalleryTools = function(enable) {

          if (enable) {

            $('.mix-controls li.mix-control').removeClass('disabled');

          } else {

            var selected = false;

            $('.gallery .mix').each(function(){
              if($(this).hasClass('selected')) {
                selected = true;
              }
            });

            if(!selected) {
              $('.mix-controls li.mix-control').addClass('disabled');
            }
          }
        }

      });
    </script>
    <!--/ Page Specific Scripts -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X','auto');ga('send','pageview');
    </script>

  </body>
</html>
