<!-- Start Image Grid area -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="col4">
    <!-- row -->
    <div class="row mix-grid">
      <div class="gallery" data-lightbox="gallery">
        <!-- col -->
        <div ng-repeat="subFolder in allSubfoldersWithImages" ng-init="parentIndex = $index">
          <div ng-repeat="image in subFolder.image track by $index" ng-init="childIndex = $index">
            <div class="col-md-3 col-sm-4 mb-20 mix mix_all {{subFolder.name}} {{!!image.deleteFlag? 'archived':''}} {{'point'+image.point}}">
              Point: <span ng-bind="image.point"></span>
              <div class="img-container">
                <img class="img-responsive" alt="" image-lazy-src="{{image.url}}"
                     style="height: 200px !important;width: 350px !important;">
                <div class="img-details">
                  <h4 class="custom-font ng-binding">lorem ipsum....</h4>
                  <div class="img-controls">
                    <a class="img-preview" data-lightbox="gallery-item" href="{{image.url}}"
                       title="Sed ut perspiciatis unde">
                      <i class="fa fa-search"></i>
                    </a>
                  </div>
                </div>
              </div>

              <!-- Footer Action for each image -->
              <div class="actionAreaforImage">
                <button class="btn btn-red disabled" ng-if="image.deleteFlag === true">Archived</button>
                <button ng-if="image.deleteFlag === undefined" class="btn btn-default"
                        ng-click="archive(childIndex, parentIndex)">
                  <i class="fa fa-trash-o"></i> Delete
                </button>
                <span class="pull-right"><i class="fa fa-folder"></i> <span
                  ng-bind="subFolder.name"></span></span>
              </div>
              <!-- End Footer Action for each image -->

            </div>
          </div>
        </div>
        <!-- /col -->
      </div>
    </div>
    <!-- /row -->
  </div>
</div>
<!-- End Start Image Grid area -->
